In [6]:
# To use a lower python version
# go to command Prompt, make a new environment, conda create - n --- python = 2.7 

print("Hello World")

Hello World

In [32]:
# Making Virtual Environment using Anaconda:
# You already know that, just go to command Prompt

In [33]:
# Python Crash course:
# Part 1 - some new stuff

# To raise a power 

2 ** 3

8

In [34]:
age = 13
name = "Sam"

print("My name is {} and I am {} years old".format(name, age)) # keep in mind the order.

# OR

print("My name is {x} and I am {y} years old".format(x = name, y = age))

My name is Sam and I am 13 years old
My name is Sam and I am 13 years old

Indexing a String

In [39]:
h = "Hello"

print(h[0])
print(h[-1])
print(h[0:3]) # see it doesnt include the character with the index 3, but it does include 0
print(h[0:-1]) # it doesnt include the character wuth ineex -1.

H
o
Hel
Hell

Lists - sequence of elements in  a [ ] seperated by a comma.

In [56]:
my_list = ["a", "b", 3]

my_list.append(5) # The list itself gets updated,
#my_list = my_list.append("5") - this should not be done

print(my_list)

# Indexing same as a string..


print(my_list[1:3])

['a', 'b', 3, 5]
['b', 3]

In [61]:
# To store lis in some other variable:

my_list.append("G")

new_list = []
new_list.append(my_list)

print(new_list) # there is a list inside a list now

# Can update element of a list like:

my_list[0] = "GG"

print(my_list)


# pop method:



lst = [1,2,3,4,5,4,3,2]
print(lst.pop()) # gives out the last item of the list.

# also our list here is modified:

print(lst) # so, that last item has been "Popped out"

[['GG', 'b', 3, 5, 'G', 'G', 'G', 'G', 'G']]
['GG', 'b', 3, 5, 'G', 'G', 'G', 'G', 'G']
2
[1, 2, 3, 4, 5, 4, 3]

In [65]:
# we can pop like a particulat index also:
print(lst)
lst.pop(1) # it removes the entry with the index 1
print(lst)

[1, 5, 4, 3]
[1, 4, 3]

In [115]:
# A nested List

nlist = [[1,2], 3,4]

nlist[0] # will give out the list itself

nlist = [1,2,3,[4,3,["Target"]]]

nlist[3][2][0]

[1, 2, 3, 1]
[1, 2, 3, 1]

'Target'

Part 2 - Dictionary - behave as a key-value pair.

In [53]:
d = {'key1': 'Value', 'key2': 123}

d["key1"]

##d['k1'][1]

'Value'

In [54]:
# Some useful methods for Dictionary:


d.keys() # will give out the keys 

d.items()

d.values() will give out the list of the values in our dictonary.

dict_values(['Value', 123])

In [12]:

# We can even store a dictionary inside a dictionary:


d_dad = {"key1": {"key2" : "Torture"}}

d_dad["key1"]["key2"]

'Torture'

A Tuple

In [20]:
t = (1,2,3)
# we cant reassign the elementsin tuple - immutable.

# t.append(5) - doesnt work

# we can convert it in a list and make changes

my_list = list(t) # we converted it in a list
my_list.append(5) # we make changes
t = tuple(my_list) # we make it back a tuple
print(t) # here we go.

(1, 2, 3, 5)

Sets - is a collection of unique elements

In [22]:
{1,1,1,2,2,2,3,3,3,2,2,1,1,1} # feed it non-unique items. It will change the in unique entires.

{1, 2, 3}

In [24]:
# there also exist a set function, takes in a list and spits out unique elements.

set([1,1,1,1,2,1,1,1,2,1,5])


# We can use the function add to add items in a set.

{1, 2, 5}

In [29]:
s = {1,2,3,2,1,2,2,3,4,54,5,5,4}

s.add(88)

print(s)

{1, 2, 3, 4, 5, 54, 88}

Use of and or

In [34]:
(1 < 2) or (3 < 6) and (1 < 3)

True or False # look how these are not all caps.

True

Use of if elif else

In [39]:
if 1 <2 :
    print("Indeed")

if True:
    print("yes, Indeed")


# there is nothing new - I do know, how these things work.

# keep in mind one thing:

if 2 > 4:
    print("Horse")
elif 2 < 3 :
    print("Donkey")
elif 4 < 5:
    print("Monkey")
else : 
    print("Nothing")

# Now, see even if the 2nd elise condition was True, it didnt print Monkey.

Indeed
yes, Indeed
Donkey

#Part 3

for loops and while loop:

In [41]:
# just look at an example:

list = [1,4,3,2,5,6,5,4]

for i in list:
    print(i)

1
4
3
2
5
6
5
4

In [55]:
i = 1
while i < 4 :
    print('i is: {}'.format(i))
    i += 1
    

for i in range(1,5): # it will go from 1 to 4
    print(i)

i is: 1
i is: 2
i is: 3
1
2
3
4

In [1]:
# List comprehensin:


inp = [1,2,3,4]
out = []

for i in inp:
    out.append(i**2)
print(out)

# We can write the same thing as:

out = [i**2 for i in inp]
print(out)

[1, 4, 9, 16]
[1, 4, 9, 16]

# Functions

In [7]:
def my_function(x):
    return x**2

out = my_function(5)

out

25

In [11]:
# We can put a documentation string in a function: in triple quotes like..

def square(num):
    """ It will just take a number
    and multiply it by itself."""
    return num**2


square(199) # ine can put the cursor over it and the thing that we wrote will appear.

39601

In [32]:
# The map() function:
sq = [1,3,2,2,1,2,3,4,3,2,1]

list(map(square, sq)) # so, it basically took the function and itterated over the list

[1, 9, 4, 4, 1, 4, 9, 16, 9, 4, 1]

In [40]:
def num(no):
    if no % 2 == 0:
        return True
    else:
        return False

# OR

def nim(no):
    return no % 2

print(list(filter(nim, sq)))

# It will filter out the numbers whos output from the function fulfill the criteria we mentioned.

[1, 3, 1, 3, 3, 1]

In [42]:
# we can make everything lowercase

str = "Hello, My naME is CHICKA CHICKA Slim Shady"

str.lower()

'hello, my name is chicka chicka slim shady'

In [66]:
# Split method:

str.split()

# we can put the seperator:
str = "My_name"

str.split('_')

['My', 'name']

In [69]:
# THE in operator:

'X' in ["e", "X", "t", "4", 5] # will return boolean - its case sensitive.

True

In [73]:
# tuple unpacking: works also with lists in list:

x = [(1,2), (4,3), (2,7)]

x = [[1,2], [2,3],[2,3]]

for (a,b) in x:
    print(a)

# wil show an error if the tuple in a list are not in the format (a,b)

1
2
2